.login-bg {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background: linear-gradient(135deg, #667eea, #764ba2);
}

.login-card {
  background: rgba(255,255,255,0.15);
  backdrop-filter: blur(12px);

  padding: 25px;
  border-radius: 15px;
  width: 300px;

  text-align: center;
  color: white;
}

.login-card input {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  border-radius: 10px;
  border: none;
}

.login-card button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 10px;

  background: black;
  color: white;
  cursor: pointer;
}